.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 16px;
  background: linear-gradient(to right bottom, #abdbe341, #1e82b031);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    font-family: 'Roboto Mono', sans-serif;
    color: #1e82b081;
    text-transform: lowercase;
  }

  form {
    width: 500px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #1e82b081;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;

    label {
      color: #fff;
      font-size: 1px;
      width: 45%;

      input {
        padding-left: 16px;
        height: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
      }
    }

    button {
      height: 100%;
      width: 100px;
      border: none;
      background-color: #1e82b081;
      cursor: pointer;
      color: #444;

      &:hover {
        background-color: #abdbe373;
      }
    }
  }
}

.guestList {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.outputContainer {
  width: 500px;
  background-color: #ffffffb3;
  overflow: scroll;
  padding: 16px 48px;
  border-radius: 5px;

  .guestContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #abdbe373;
    padding: 8px 0px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      input {
        font-size: 0.8rem;
      }

      span {
        // font-size: 0.5rem;
        font-size: 0.1px;
        color: #ffffffb3;
      }
    }

    p {
      font-size: 1.25rem;
      color: #444;
      text-align: start;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.closeButtonIcon {
  font-size: 1.5rem;
  color: #1e82b081;
}

.bottomContainer {
  height: 10%;
  width: 100%;
  // background-color: #1e82b081;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;

  button {
    background-color: #fffffffc;
    padding: 0px 8px;
    height: 30px;
    width: 190px;
    border: 1px solid #1e82b081;
    border-radius: 5px;
    color: #555;
    cursor: pointer;
  }
}
